$main-white:#FFFFFF;
$main-black: #000;
$main-red:#BA2D2D;
$main-red-hover:#8B2B2B;
$main-red-dark:#994239;
$main-pink:#FCE2E2;
$main-yellow:#F5B83F;
$main-yellow-hover:#C18000;
$main-light-yellow:#FFEFD0;
$main-blue:#5081BE;
$main-blue-hover:#284E7E;
$main-gray:#707070;
$modal-background:rgba(0, 0, 0, 0.5);
$main-shadow:rgba(0, 0, 0, 0.26);
$main-green:#11f797;
$main-green-hover:#018428;
$main-text-black:#343434;
$main-border-grey:#BCBCBC;
$list-hover-yellow:#FFF8EB;
$base-card-gray:#7B7B7B;
$base-card-red:#AB2929;
$base-card-hover: #F7F7F7;
$datapicker-boder:#F2F2F2;
$base-list-hover-pink:#FCE2E2;
$book-page:#FFF8E6;
$book-page-shadow:#F2E7CE;
$main-dark-blue:#0E2F56;
$main-orange:#D8811A;
$neutral50:    #F9F9FB;
$neutral100:   #F2F2F6;
$neutral200:   #D6DADF;
$neutral500:   #8C95A5;
$neutral900:   #263238;
$brandX: 	 crimson;
$brandY: 	 magenta;
$brandZ: 	 deepskyblue;
$error500: 		 #F24671;
$info500: 		 #6551CC;
$warning500: 	 #FFB266;
$success500: 	 #47CCCC;
$unit: 16px;
$easeInQuart:     cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart:    cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart:  cubic-bezier(0.77, 0, 0.175, 1);
$easeIn: $easeInQuart;
$easeOut: $easeOutQuart;
$easeInOut: $easeInOutQuart;
$time: 300ms;